<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>weChatServlet</servlet-name>
        <servlet-class>mian.cn.tong.wx.WeChatTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>weChatServlet</servlet-name>
        <url-pattern>/weChatServlet</url-pattern> <!--url-pattern必须与servlet-name一致-->
    </servlet-mapping>


    <servlet>
        <servlet-name>accessTokenServlet</servlet-name>
        <servlet-class>mian.cn.tong.wx.AccessTokenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accessTokenServlet</servlet-name>
        <url-pattern>/accessTokenServlet</url-pattern> <!--url-pattern必须与servlet-name一致-->
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadMediaServlet</servlet-name>
        <servlet-class>mian.cn.tong.wx.UploadMediaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadMediaServlet</servlet-name>
        <url-pattern>/uploadMediaServlet</url-pattern> <!--url-pattern必须与servlet-name一致-->
    </servlet-mapping>


    <servlet>
        <servlet-name>weAuthServlet</servlet-name>
        <servlet-class>mian.cn.tong.wx.WxAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>weAuthServlet</servlet-name>
        <url-pattern>/weAuthServlet</url-pattern> <!--url-pattern必须与servlet-name一致-->
    </servlet-mapping>

    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>mian.cn.tong.wx.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/authServlet</url-pattern> <!--url-pattern必须与servlet-name一致-->
    </servlet-mapping>
</web-app>